.header-component {
  width: 6rem;
  height: 100%;
  background: black;
  position: fixed;
  z-index: 10;
  .navigation-structure {
    .hamburger {
			margin-top: 2rem;
			z-index: 100;
			position: relative;
    }
    .hamburger .line {
      width: 2.3rem;
      height: 0.1rem;
      background-color: #ecf0f1;
      display: block;
      margin: 0.9rem auto;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
			transition: all .3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
			position: relative;
    }

    #hamburger.active .line:nth-child(1) {
			transform: translateY(8px) rotate(45deg);
		}
		
    #hamburger.active .line:nth-child(2) {
			transform: translateY(-8px) rotate(-45deg);
    }

    .hamburger:hover {
      cursor: pointer;
    }
  }
}
